.message__box{
    min-width: 650px;
    display: flex;
    margin-bottom: 20px;
}
.message__user2{
    justify-content: flex-end;
}

.message__ava{
    max-width: 50px;
    margin: 0 10px;
    border-radius: 50%;
}

.message__text{
    background-color: rgb(235, 235, 235);
    padding: 20px;
    border-radius: 20px;
    color: rgb(27, 27, 27);
}