.dialog{
    padding-bottom: 10px;
    color: rgb(32, 32, 32);
}
.active{
    font-size: 22px;
    font-weight: 500;
    align-items: center;
    display: flex;
}
.dialogs__ava{
    max-width: 50px;
    margin-right: 10px;
}
.dialos__link{
    display: flex;
    align-items: center;
}